.body {
    display: inline-flex;
    padding: 234px 256px 233px 256px;
    justify-content: center;
    align-items: center;
    background: hsl(233, 47%, 7%);
}

.text-background {
    display: flex;
    padding: 120px 70px;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;  
    background: hsl(244, 38%, 16%);
    width:50%;
  
}

.header-background {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.frame-one-background {
    display: flex;
    align-items: flex-start;
    gap: 11px;
}

.white-header {
    color: hsl(0, 0%, 100%);
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.purple-header {
    color: hsl(277, 64%, 61%);
    display:inline;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.paragraph-background {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
}

.paragraph-text {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: Lexend Deca;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.stat-background {
    display: flex;
    align-items: flex-start;
    gap: 65px;
}

.statistics-background {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.stat-number {
    color: hsl(0, 0%, 100%);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.stat-headers {
    color: hsla(0, 0%, 100%, 0.6);
    font-family: Lexend Deca;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 614px;
    height: 694px;
    position: relative; 
}

.image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 694px;
    background-color: #C796E5;
    mix-blend-mode: multiply;  
    z-index: 1;
}

.attribution {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: hsl(0, 0%, 100%);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 716px;
    margin-left:-615px;
}

@media screen and (max-width: 375px){
    .text-background,.image{
      display: flex;
      flex-direction: column;
      width: 400px;
    }
    
  }


  @media screen and (max-width: 1440px){
    .text-background,.image{
      display: flex;
      flex-direction: column;
      width: 300px;
    }
  }
