:root {
    --color-main-background: hsl(233, 47%, 7%);
    --color-card-background: hsl(244, 38%, 16%);
    --color-accent: hsl(277, 64%, 61%);
    --color-overlay: hsla(277, 60%, 74%, 0.8);
    --color-stats-main-heading: hsl(0, 0%, 100%);
    --color-main-paragraph: hsla(0, 0%, 100%, 0.75);
    --color-main-heading: hsla(0, 0%, 100%, 0.6);
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  html {
    text-size-adjust: none;
  }
  
  body,
  h1,
  h2,
  p {
    margin-block-end: 0;
  }
  
  ul[role='list'] {
    list-style: none;
  }
  
  body {
    min-height: 100vh;
    line-height: 1.5;
    padding: 16px;
    margin: 0;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-main-background);
  }
  
  .main-container {
    display: grid;
    gap: 0;
  }
  
  .text-background {
    background: var(--color-card-background);
    position: relative;
  }
  
  .overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-overlay);
    mix-blend-mode: multiply;
    z-index: -1;
    opacity: 1;
  }
  
  .white-header {
    color: var(--color-stats-main-heading);
    font-size: 1.75rem;
    font-weight: 700;
  }
  
  .purple-header {
    color: var(--color-accent);
    font-weight: 700;
  }
  
  .paragraph-text {
    color: var(--color-main-paragraph);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
  }
  
  .statistics-background {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    padding: 0;
  }
  
  .stat-number {
    color: var(--color-stats-main-heading);
    font-size: 1.75rem;
    font-weight: 700;
  }
  
  .stat-headers {
    color: var(--color-main-heading);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
  }
  
  .image {
    position: relative;
    width: 100%;
    overflow: hidden; 
  }
  
  .image img {
    width: 100%;
    height: auto;
  }
  
  footer {
    margin-top: 30px;
    color: var(--color-stats-main-heading);
    font-family: 'Inter';
    font-size: 1rem;
    font-weight: 400;
  }
  
  a {
    color: var(--color-stats-main-heading);
  }
  
  @media screen and (min-width: 40rem) {
    .main-container {
      grid-template-columns: repeat(auto-fill, minmax(31.25rem, 1fr));
    }
  
    .text-background {
      padding: 4.375rem;
    }
  
    .overlay {
      border-radius: 0.625rem;
    }
  }
  
  @media screen and (min-width: 75rem) {
    .text-background {
      padding: 4.375rem;
    }
  }
  
